Source: lugdulov
Section: user/navigation
Priority: extra
Maintainer: Corentin Chary <corentincj@iksaif.net>
XSBC-Bugtracker: http://dev.iksaif.net/projects/lugdulov
Build-Depends: debhelper (>= 5), libqjson-dev, libqtm-dev, libqt4-dev
Standards-Version: 3.7.2

Package: lugdulov
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
XB-Description-fr_FR: Recherche de stations de vélos à Lyon
Description: Find a bike in Lyon.
XB-Maemo-Icon-26:
 iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAABGdBTUEAAK/I
 NwWK6QAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAABVI
 SURBVHjabI6xCoMwAEQvIYiQErVkyOQihdZZHPvj/QW7hi4JOJuGILiINU27
 trc97ngcwZ9kWYau67BtG6SUCCHAOYeyLNG2LeZ5BuccVVVhHEfkeX5I/SXG
 eKWU1saY07qu58THj48Q8krO0DTNfd93nfihlLpZa59938N7j2VZIISA1vrL
 RVEgbTBNExhjGIYByfnz9S2AWBjIAEBHgg39+PGj3v3799OBlvgB+RLs7Ows
 YmJiDJaWlgwyMjIMQD5Y/c+fPxmePHki9ODBA6VXr16B+Tdu3PgEDISdQIe3
 AvVeBJlJDgAIIJI8AAw5BlZWVlBoad+8ebMA6JhYYAyxOzs7gx2tr6/PoKSk
 BI41kDpk8Pv3b3AsAkOd4eLFiwzHjx/nO3fuXOimTZv8xcXFtwE9PAEYowdB
 dpACAAKIkdgk9P79e5CjxJmZmcuBoZ4BjGJOV1dXhuTkZAYDAwNQMsJqATAZ
 gTEohEHmgRwINIPhx48fDMeOHWOYM2cOyDMgO/4rKiqu/vv3bxMwhq7y8PAQ
 lYQAAogZm6UgC6SkpBiA6RWc1kEWP3/+3OP79++rgJ7w8fb2Zs3KymJIT09n
 UFFRAVuAL9ZAePPmzQxRUVEMy5cvB8eGqakpOLYcHR0ZNDQ0GDg5ORmBAaMN
 DKgIoD1PhIWFr4DsBuUNkOefPXvGAPQchvkAAYTXA9D0zvr06dNpQEv7gQ4X
 LikpYcjMzGTQ1tYGp3GQ40AhjC3qQeIwT9y5c4fh8OEjwLR/k2Ht2nVgxzg4
 2IMcDvaAh4cHg6amJiiUOYFqg4H2GQI9sAMYeD9A+nF5ACCAGHAlIWtrawZz
 c3N2oEfWAPH/pKSk/8A0+x8GgLEDpnfv3v2/paXl/8aNm/6fP3/h/7Pnz/9/
 /vwZRR3QYjj/1KlT/zU1tf/z8Qn837t37390ALIDZBfITiDeD3SDIMgtIDdh
 AwABhNMDVlZW7JKSkmuA6fJ/QkLC/23btqE4BAZSU1NAwfyfhZn9v4yU/H8j
 Q5P/np6e/6urq/+/ePECrAakD+QRmKdXrVoD1gNMhhhmgvggu0B2guwGumE/
 0C38sBINHQAEEDOudAvMSNOB0RsDKmG8vLwY9PT0wOU+cvIAqfvz5y/D2bPn
 GL5++w7MmN8ZvgFpVjYWhsePHwGTiCMDsISB5wNQngKlZ2lpGQZg6cNw+/Yt
 Bh8fHwYhISGMko6Xlxes/vHjxwrA0ksXGKtrQf5DdytAADFjczywwsoDOrYa
 VMqA0qa0tDSDvLw8OGZgpQoMq6urM7i5uQFLIn2GHTt2MOgb6DHMmzcPWDol
 AfORNNjBMLUwwM7OBq6s1q9fz2BkaAwMHF0UNaBCAVRXgEohkHuABYgaMDOz
 AvPFHnT3AgQQE3oFBQx1SWDRWQ9MBgx+fn7gUAdhUIkAKj1AJRIIgzIUjAbW
 sAyhoSEMoEoMVFExMTECa1V+aAz9QcGgohBE6+rqgR28bfsOUIUIlwfZAavl
 QRjkBlAgysrKFgALFx10DwAEEBN66AM9UAlsLghZWFiAo/En0EJ+oGNgjoVh
 sIVInti3bz+4rgBhYI2L4kFkDEoWP378ZNi4cSPYzhs3roE9jW42qCkB8izI
 DSC3AEsodmBTowW9xgYIICa04lMbqDHd0NAQXIyCDGAGhiYoyn/+BIbcL2AI
 /obg3yCL/v4BO+jEyZPAojULWBm9Z/jy5Suw2fAUw+HIHjh16jTDls3bgIHF
 BXT8axQPwGIJlGlBxTmIDXILyE3AvAJqsjgjuxkggJiQQ5+Li6tUVVWVDYjB
 6RBkGAsrC8M/kK+BHvkPpIAkKAsz/ANlYiDz6vXrDAnA9M7KwsoQEBDI8P37
 V1Cahadn5PwC0geip02bDk4qOTnZ4HoAVBODPAbCyJUfKM+B3QB0C8hNwEqT
 EejGSqAcPO8CBBC8CgUqcgEWW9GgGhKUeUChwQQMAXYuHob/794wfD1/meH3
 65dgcRZpCQZuSxuGs/fvM2QmJTF8ffuJYdW61Qxv34Iy5lqGu3fvgEskFhZW
 jBLu4MGDDNu2bgXWMzYMBQUFwFLmKcOGDRvB+QiUF0AeA7VKQZUaqHkCigGQ
 nSA3gdwGjC3nK1euhAPVLQOZBxBAcA8A2x7xQF+ygHzKzMbK8P8vMDSADn+/
 fAnDw4uXGDiAFv34/Z3h7z8mBjYuboa3wEw47+VThqfv3zLMnDcXXJKcu3KZ
 gZGJleHJoyfAJsA3kJkojge1fyZNmgx01G+GpKQEcAjr6OgAPbCeISMjk+Hz
 509Ax/4HirMAM7AQg56OPoOvvy+w1tcEq1VVU2NQvXULlMfSgXltNaiNCBBA
 LNAoExQVFXUFFZXANggw3TMzfNiyleHjqpUMPx7cZ+AGRthvDhaG/+zcDEzA
 RPTj4xsGhn3bGSJ+MzCEAB1uxM0Kjn5hfgEGRUUFhvOXLjIsXryUwcbGikFW
 RpYBWI0x3AQ2IVauXMVw6NBhhoLCfAZroFxbWzvDihUrwSEMKrWys7Ohof6b
 4Rywbtm5ayfDkWNHwKVQUlIigwjQbSA3At1qBmz8yQKT4z2AAIJ5wAhYBIqB
 yntQrv+7by/Dxwk9DL/5gcWnrT0DM6hpfPs6w7dPbxnYgY5mlJJnYAQ2nSWB
 Jc6f40cYHmXnMMgtXsTAIyzOoKKkzLBr9w6G5uYmYKixAy0FNa3ZGd4Dy/23
 718xODo5AZNOHkNPTx/D5MkTgfWHITjQvnz5wuDr68cgKSkOzsBv375lMDM3
 YZgyZSrD6tUrgUUrF0NCQjy4TgI6lQPYXvIAemAaQACBMwOw3I0FNokdjYyM
 GASBSeB7VzcDCzsrA39DAwNfUDADt7cXg6CRFcO3g8cY/nBxMAj3tjOIJKYw
 sHu6AvmcDD+3bWdg+fOLgcfNg+HCucsM586fYUjPyAA31oSEhIGl1W+Gu8B+
 ADDkGLq7u8GlTkVFBViuv78fGGg8DFuAMS4qKsJgbGwETm6gvgOoXtHU1GA4
 evQYw+dPnxkcHB3AdRWwcwTqCd4H5o/tAAHEBE3/uqAeFKjtz3T1HMPvWzcY
 hOISGCStbMCVyQ9gEfrPUJtBvKSUQbGtjYHX2BJUvADzCicDX1gow1c9HYab
 e/Yx3DlzguEv8z8GZhZWcB4wMzNlCANWcH+BHgCWB0BHlwO7pJrApLQaWFp9
 A1Z+wcBOkB4wqdkC7RFg2LNnDzj5gDIzqCYG2e3g4MAQHR3DcPvObYb7j5+A
 3QhyK9DNNkCn8wEEECgJcQE5yqBoBGe6e3fABSW3FrCNDozKv2zs4H4PsI3O
 8EpHg+H6pasMr2fPYXgLzOAfPn9l+PzxPcPbN+8ZPn/4yvA7r4ThMzC98/Dy
 Maxds4Zh586d4Hrk3bv3DNXVNQyBgQHgUubs2bPAUOcHOtwGHNpqwMxpYmIK
 LKEOMBw4sJ8BlBJAbgEWmWB5UJNm9uzZDA/u3GUw0NFmgLpVASjFDxCA5ipI
 YRAGgkPENp4r9HH6lSj9Vz2X0qco0ogHRdHOrPYaNmE2O5mZqIGMhXdtkCZP
 4wwtbl2rx2FaL/51BFxXD3zeLyoNvWFf4GgMa+pJtysDXIKFNRfnkaUJdvpH
 /EadhBACyrIwMJrMEAcDoaB3GKjjLRdomqdRjPHcwuP/j5HnN6Nf37eG8WxO
 Gu1/AgiUhNiBRRQ/KPeDOyisTOAY+H7qDLAo/Qt0LKQIFOATYNAGhpSUODAT
 CYky8HHzA2OIk4EXWEuzgHISsJ3ICtT4+893hq/Ayuzv7//gliooXdvaWKN0
 lpiADv796w9KB8XW1hpYlKaDOz4LFy4E64UBUAkHqtCYmVnAbgS5FehmkK1s
 AAHEAimEGP+CmrCgDMImJMIAkvmx7wjD75CrDJy6+gz/QU1cYDlcUV3BkJ6Z
 wfDixTOGVy/eMbz5+JbhzoqlDC9vXWf4wsrN8EVNleErMImAMtxnYJOCg4OX
 ISIigkEOWPTBmt9cwEwvKirGcPXqZfCQDKg1C6upQcUoqNkAihk2UF0E7UuD
 emOgjC8hIQnmg9wKjR1WgAACeeAXsIJ5C/QhHyhE2LR0GZgFeBh+v33E8Lqv
 n0GsbwIDBzCDgZoOzEDN4uKiwEwE6W4yHD3M8OrDZ4bvv34y/FXQYOCa1Mfw
 Cej9D9BGHRcwuoE9KpQmBSgGrCwtGU6fPgHMI7uATXF3oINYwA4DyYE8DALg
 lgBQDBT6q1etAtYTvMAWrC68vQR0M7itAhBAoATy69u3b2+BGKyY1dQEiK3A
 hnw7c4zhRX01w+/nzyCGgRwBTFMg33/avZvhZlkpw/cXdxl+szAxCPg4MQjJ
 KTIoyMkxGADrCCdgZx3UioSlY1jfGYT9/H3A5fm2bVuBJdJKeNKCqYV1fEBq
 V69eAx4QUFfXYFBRVQHLgdwKxD9BNTFAADGB89XXr09BRRfId6zAtjhfajoD
 k4QsAxswGf7et5vhFbD4/HnuDLhCYwSWKp82bWV4DSwS2Z89B7ZQgcnL0oGB
 NzqO4Q/IcnC6/o/WiEP0N0AOAHXiQe0g0IgDqDbetWs32PGwATMQ/gAsAKZN
 mwbM0K3A5ss/Bi9g/4QPVMkCzQe5Faj3FcjtAAEESkJ/gJwHoIoD3HD695+B
 x0ifgQlY0bzr7GNgeP6I4TuwfH9ZVMAgGB7OwPiHieHLiiXABt5Lhl/ARiGn
 uQ2DeF0dA4uwGDBj/gK2WBlBpS4QMaKMSiB7AoQjIiIZXr9+y9Db28uQm5sL
 7INbAotPQ3AJ8/TJC4b9+w8yXL9xlYENWItnZ+cyREZBkhbIjSC3At18F8h9
 DxBALJCi7etpUIYCdfMEgf1TUOsZVKuyS0kwfAJ2D7+cucjA+OYlw+fufnAJ
 xQhs+zDLqTEIe3gy8KTHM7z/x8Jw4/AhhtcvXzFwANO9PDAZgdosoCIPaWgR
 3NEBhTqohoXEQh6DkpIi0BM9wCJ0H7jegDcuuXkZzEzNGaJjIoH9Zm9wIPwF
 NjBBbgS5FWjOLVAqBwggFmiaO3zjxo17t27dUgI2qYHlOhc4qtn1jBiEJwJD
 5fwlhn9XrzH8//CO4R8wMJlEhBh4LM0YWFW1GUAt+JvACsiouRZULDN8Z/zL
 cNHLkYHZPRjcJAaBR48eMdw/dpjB+uQZhl+P7zH8BTridt9kcK3q5+cLbsmC
 OjmgfgSoouPgYIdUbsD8yA1s+cJiDhT6QDeCxlV/AN23H5QHAAII1px+/uLF
 iwPXr19XAmU8UDTCum4gn3MAmwSM5mYYyQHGfgusaf9zAovfX58Y+ID9AImH
 L8BjoCBHgNTcvXuXQfndJwYOYEX399FjhufKGuARbpgdoEADYeTBMGx5CDTE
 CXQjsBh/cQ3IBcUAA0AAwXpkv4GtwS2XLl36dx/YSQGFPqhUAGUmkCWwHhI6
 hgFQC/aztjow9L4z/OPkYJA6fYnhA7CuALUwQUnmzdMnDNLA7ub/Tx8YWH7+
 Y3gqLgbuuKMPP6JjWKYGuQXkJpDbgG4EmXsEqO0ZSC9AACH3iU8Co+fkuXPn
 wO0emAHgmhPqCVwAVCSeAvaY2IF5AVTMvnkF7LldvwwKKTDmAmY61ndvGb6/
 fMwAqtrfSEuBkw++8VR0u0FuArkN6EZgG4dhLxB/AakFCCBkD7wCtsFn7N+/
 /yso+pFHlUEGwWIExkbGsrKyDN+B7f7/0nIM/3//YhAF+lXtzVuGu8BmASjN
 GgH5/16/ZmAGFoEvZaQZ/gA9DKpxsZmFbAfymBLITSC3Ad1YAXTrDkjjhYEB
 IICQPQAqxtefP39+zpYtW8BFFSz9wYo+XBg0BKIErGSu6WoDa8n/wNYhBwPf
 1esMd29eZ3j84B6D9Ms3DEzv3zH8BVaeL4wNGWSVlMBNZULmwvICyC0gN4Hc
 BhRaBSpNYY4GCCD0aZGvwIpi6YEDB54dOnQInH6Ry3JcGBRqoE75DR5uYH+Z
 F1yZsX58x8ABTEoSjMBkde86w6/XLxhesXEw3JUSZVBRVoG3Z/DlL5DdIDeA
 3AJyE8htoKIT2cEAAYTuAVCpeBXYItwBGvY7efIkuAwnxhOgsl1IUZnhA7DK
 /wMsCkU42RjMHj5isPn5g+HzjetgMSZtXQY2YGtWUlKSKMeD7Aa5AeQWkJtA
 boO6EQ4AAgjb4O5voE9fvX792uTz588SoMwGshA2F4CrVAKFKMib5x7eY1B9
 +prh358fDCKgZHjpLLAJwsnw+tsfhnvALqichTV4UgSXObCAArV3Tpw4wbB4
 8WJgl/LoBWAmbgJK3Ud3LEAAMeMoCF4DK43LwAqI//bt25qg4RBwCANraXye
 APWgbr56zSD45TsD153rDEwsHMBODyPDP2DG/qaqxnDL0oLBGth9BI374HM8
 qLhcBWyBzp07F+SJdUDHNwClzsAyLjIACCBcHgApfAmMiRvAtjgnsCTRAdaQ
 TKB0DqvkkC1EHkljZGJmOHH7CoMKsPb+D2xKgMSfApPRe083Bh59I/BEIKzl
 iWwGrAkNanLMnz+fYdGiRX+BNe4SoFg3UOoCqEWCzaEAAcSMZ54DVCp9AuJ7
 wFrz99OnT7WAIcEG6g2BQhCUpGAeQS45QLFw/clTBukHTxhYvnwCNj1+M/zg
 Ema4ZGPFYG5rB+6soAcAqJICtTBB5Two5NeuXfsF6BFQiTMLNP4L6iDiciRA
 ADETmKz5DarBYZ4ARq0xsEHGAswb8EkI2OwkyngmsCV6/8VTBvHL5xmeAbMc
 i4U5w397R3DoI6sHZVSQw69evcqwdetW8ATgnj17fgDbRFOBSuZBmwvf8DkQ
 IICInZQFdaDVgDgc6MAgYCWkBQSM9vb2DCAMqpRAngE5HlSkgpoQoL4tqBEH
 aoCB8g+oXQSiQaENEgOpAVVOoLFSUEkD9MR/YHK9BpRbB7RnJdTxvwk5DCCA
 SJlVBsWWMBCrALEVMBmYACswIwUFBVUgBtfGoNIK5EhQyQXyEGyyG9TCBMUa
 qEIC9W1Brc7Hjx+DGnn/gTF6HVjWXwamdVAmPQbEd0DtQ2wZFhsACCDSpsUR
 dYcAEMsCsR4Q2wOxNjD05YANNBFgJmcDrakA5QVkD4CKRVBrEhjyv4AOfgMM
 6UdAqfOgAWtoOn8MTa7/SHEMQACR4wHkoXnQrJ8cEEtCPSQBatsBMWhGnx8Y
 S2zQ/sYvYAiDBoleAvFTIH4BxE+gjn4ELSz+kOMIgACixAPIHgF1vUBj6XxI
 NAfS8D3IcT+gDv2CRH8jNqngAgABRA0PoJvHBHU4M5L5/6EO/QNNIv+pZSFA
 gAEAsPsrptzUyvIAAAAASUVORK5CYII=
 ====
