[Desktop Entry]
Version=0.4.0
Encoding=UTF-8
Exec=lugdulov
Type=Application
Icon=lugdulov
Categories=Utility;
Terminal=False
StartupNotify=true
Name=Lugdulo'V