[Desktop Entry]
Version=1.0
Encoding=UTF-8
Exec=lugdulov
Type=Application
Icon=lugdulov
Categories=Utility;
Terminal=False
StartupNotify=true
Name=Lugdulo'V
Comment=Lugdulo'V - Find a bike in your City