[Desktop Entry]
Version=0.4.1
Encoding=UTF-8
Exec=/opt/net.iksaif.lugdulov/bin/lugdulov
Type=Application
Icon=net.iksaif.lugdulov
Categories=Utility;
Terminal=False
StartupNotify=true
Name=Lugdulo'V
Comment=Lugdulo'V - Find a bike in your City