[Desktop Entry]
Version=0.3.0
Encoding=UTF-8
Name=Lugdulo'V
Exec=/opt/lugdulov/bin/lugdulov-wrapper
Type=Application
Icon=lugdulov

Name[fr_FR]=lugdulov.desktop
